<div class="container">
  <div class="user-details">
    <h3> Experience </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Graphic Design</h4>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I have a background in graphic design and have always enjoyed making intuitive visual solutions. Feel free to check out my designs at: <a href="http://iamtylerwarren.com">www.iamtylerwarren.com</a></p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <p>I have experience coding with Javascript, Swift 3, and Python. Although I have been focusing on Javascript, I enjoy learning new technologies and coding in different languages.</p>
    </div>
    <div class="four columns">
      <h4>Gaming</h4>
      <img class"gaming-icons" src="../assets/img/hoardLogo.png" alt="">
      <!--<i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>-->
      <p>My third passion is gaming, game theory and game development. You can find more about that in my <a href="#">Gaming blog</a></p>
    </div>
  </div>
</div>
