<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Snail Fantasy" src="{{ "/assets/img/snailDemo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project: Snail Fantasy </h5>
      <li> Swift 3, Firebase, Coredata </li>
      <p>Snail Fantasy is a menu based roleplaying game. You attack and slay monsters for gold to then use gold to upgrade your character to defeat harder monsters. This was a group project created with two other developers. My role was focused around the stats menu, progression of the game, design of the logo, random name generator, and a few other features. This project is still unfinished but will some day see the app store.</p>
      <a class="project-link" href="https://github.com/punkty/SnailPG">Github</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="hoardAPI" src="{{ "/assets/img/hoardAPI.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project: hoard API </h5>
      <ul>
        <li> Django, Django Rest Framework </li>
      </ul>
      <p>
        An API for items that might be found in a tabletop roleplaying game. The idea was to build an API that could be used to develop apps for assisting with games like DnD and Pathfinder.
      </p>
      <a class="project-link" href="http://github.com/punkty/hoardapi">Github</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns images">
      <img alt="js30" src="{{ "/assets/img/jsthirty.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project: Javascript30 </h5>
      <li> Javascript, CSS, HTML </li>
      <p>Javascript 30 is a 30 day challenge to code something up in javascript without any bells or whistles from a framework. Good ol' vanilla bean JS. I am also using this as an excuse to blog every day. Feel free to check that out <a href="{{ "/devBlog.html" | prepend: site.baseurl }}">here</a></p>
      <a class="project-link" href="https://github.com/punkty/javascript30">Github</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns">
      <img alt="Pewpews" src="{{ "/assets/img/pewpews.gif" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project: Pewpews </h5>
      <ul>
        <li> Javascript, PIXI.js, BUMP for PIXI</li>
      </ul>
      <p>This project with a working title of "Pewpews" is a 2D browser game built with a developer friend of mine <a href="http://github.com/qwerji">Ben Swanson</a>. We started this project in an effort to learn PIXI.js. Challenges in this project have been working with 2D collisions (with help from the BUMP library), and overall optimization for the app when multiple players are in game. It is still very much in the early stages of development but has been a ton of fun to work on.</p>
      <a class="project-link" href="http://github.com/qwerji/pewpews">Github</a>
    </div>
  </div>
</div>
